<template>
  <v-card
    class="mx-auto my-12"
    max-width="900"
  >
  <div
   class="d-flex flex-column-reverse flex-sm-row justify-space-between align-center pa-3"
  >
  <div class="align-self-start">
    <v-btn plain >
      <v-icon left outlined>mdi-account</v-icon>
       {{author}}
    </v-btn>
  </div>
    

    <!-- <v-spacer></v-spacer> -->
    <div class="grey--text ml-4 align-self-end ">
      {{createdAt}}
    <DotsMenu :menuOptions="menuOptions" />
    </div>

    <!-- <DotsMenu :menuOptions="menuOptions" /> -->
    <!-- <v-menu
      bottom
      left
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          icon
          v-bind="attrs"
          v-on="on"
        >
          <v-icon>mdi-dots-vertical</v-icon>
        </v-btn>
      </template>

      <v-list>
        <v-list-item>
          <v-list-item-title>что-то 1</v-list-item-title>
        </v-list-item>

        <v-list-item>
          <v-list-item-title>что-то 2</v-list-item-title>
        </v-list-item>
        <v-list-item>
          <v-list-item-title>что-то 3</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu> -->
    
  </div>

  <v-card-title @click="() => $router.push(`/article/${title}`)" class="text-h4">{{title}}</v-card-title>

  <v-card-text>
    <v-row
      align="center"
      class="mx-0 mb-4"
    >
    </v-row>


<div class="text-h6 text--primary font-weight-regular" v-html="body"></div>
    <!-- {{body}} -->
    <!-- <div class="text-h6 text--primary font-weight-regular">>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur laboriosam 
      <v-img
        src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
        class="my-2"
      ></v-img>
      animi qui vitae. Laboriosam, officiis natus? Alias molestias eaque animi doloribus libero exercitationem, sit dolore blanditiis laborum praesentium omnis modi consectetur fuga repellat fugit odio necessitatibus provident culpa doloremque, quidem asperiores facere suscipit eius qui! In officiis asperiores tempora neque sint similique dolore accusamus maiores. Delectus a nobis, provident eius porro sapiente dolorem facilis cupiditate eaque voluptas, eveniet, adipisci laudantium officiis quis magni? Deleniti itaque praesentium a quasi odit quisquam mollitia nam vero sapiente ex. Officia unde harum quasi rerum id ipsum provident, dolorem, quis dolores quaerat eius ad illum.</div> -->
  </v-card-text>

  <v-divider class="mx-4"></v-divider>


  <v-card-text>
    <!--   v-model="selection" -->
    <v-chip-group
      active-class="deep-purple accent-4 white--text"
      column
    >
      <v-chip>1900</v-chip>
    </v-chip-group>
  </v-card-text>

  <v-card-actions>
    <v-row>
      <v-col class="d-flex justify-center align-center card-actions" cols="6" md="3">
        <v-btn plain color="blue darken-4">
          <v-icon left>mdi-chat</v-icon>
          Комментарии
        </v-btn>
      </v-col>
      
      <v-col class="d-flex justify-center align-center card-actions" cols="6" md="1">
        <v-btn plain color="pink darken-3">
          <v-icon left>mdi-heart</v-icon>
          0
        </v-btn>
      </v-col>

    </v-row>
    
  </v-card-actions>
</v-card>
</template>

<script>
import DotsMenu from '../widgets/DotsMenuButton'

export default {
  props: {
    author: String,
    createdAt: String,
    title: String,
    body: String
  },
  components: {
    DotsMenu,
  },

  data() {
    return {
      menuOptions: [
        {name: "Что-то 1"},
        {name: "Что-то 2"},
        {name: "Что-то 3"}
      ]
    }
  }
}
</script>

<style>

</style>