<template>
  <v-menu
    bottom
    left
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        icon
        v-bind="attrs"
        v-on="on"
        small
      >
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>
    </template>

    <v-list>
      <v-list-item v-for="(option, idx) in menuOptions" :key="idx">
        <v-list-item-title>{{option.name}}</v-list-item-title>
      </v-list-item>

      <!-- <v-list-item>
        <v-list-item-title>что-то 2</v-list-item-title>
      </v-list-item>
      <v-list-item>
        <v-list-item-title>что-то 3</v-list-item-title>
      </v-list-item> -->
    </v-list>
  </v-menu>
</template>

<script>
export default {
  props: {
    menuOptions: Array
  }
}
</script>

<style>

</style>