<template>
<!-- Delete if alerts only -->
  <div class="grey lighten-3 d-flex justify-center align-center" style="height:100%;">
    <v-container>
      <v-row class="text-center">
        <v-card
          class="mx-auto pa-4"
          dark
        >
        <v-card-title class="text-subtitle-1 text-sm-h6">
          {{titleText}}
        </v-card-title>
        <p>{{cardText}}</p>
          <v-card-actions class="d-flex justify-center align-center">
            <slot name="card-actions"></slot>
          </v-card-actions>
        </v-card>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  props: {
    titleText: String,
    cardText: String,

  }
}
</script>

<style>

</style>