<template>
  <v-container>

    <Constructor />

  </v-container>
</template>

<script>
import Constructor from '../components/texteditor/PostConstructor'

export default {
  components: {
    Constructor,
  },
  methods: {},
  data() {
    return {}
  }
}
</script>

<style>

</style>