<template>
<!-- <layout name="MainLayout"> -->
  <v-main>
    <AppBar :isUserLoggedIn="isLoggedIn || isSignedInWithGoogle" @onLogout="handleLogout" />

    <Tabs :allTabs="allTabs" />


    <v-row class="d-flex mr-0" style="position: relative;">
      <v-col>
        <v-alert :value="isEmailNotConfirmed" dismissible type="info" name="isEmailNotConfirmed" transition="slide-x-transition" style="position: absolute; width: 400px; right: 0;">Письмо с подтверждением почты выслано на указанный e-mail</v-alert>
        <v-alert :value="isEmailConfirmed" dismissible type="success" name="isEmailConfirmed" transition="slide-x-transition" style="position: absolute; width: 400px; right: 0;">Ваш e-mail подтвержден</v-alert>
        <v-alert :value="verificationEmailError" dismissible type="error" name="verificationEmailError" transition="slide-x-transition" style="position: absolute; width: 400px; right: 0;">Ссылка неактивна. Ссылка уже была активирована</v-alert> 

        <!-- восстановление пароля -->
        <!-- <v-alert :value="newPasswordSuccessFlag" dismissible type="success" name="isEmailConfirmed" transition="slide-x-transition" style="position: absolute; width: 400px; right: 0;">Пароль успешно изменен. Сообщение об изменении выслано на e-mail</v-alert> -->
      </v-col>
    </v-row>

    <router-view  />
  </v-main>
<!-- </layout> -->
</template>

<script>
// import MainLayout from '../layouts/MainLayout';
import { mapGetters, mapActions } from 'vuex'
import AppBar from '../components/AppBar'
import Tabs from '../components/Tabs'

export default {
  name: 'Home',

  components: {
    AppBar,
    Tabs,
    // MainLayout,
  },


  data() {
    return {
      isLoggedIn: null,
      isSignedInWithGoogle: null,

      allTabs: [
        { tab: '1800-1899', content: 'Tab 1 Content' },
        { tab: '1900-1910', content: 'Tab 2 Content' },
        { tab: '1911-1920', content: 'Tab 3 Content' },
        { tab: '1921-1930', content: 'Tab 4 Content' },
        { tab: '1931-1940', content: 'Tab 5 Content' },
        { tab: '1950', content: 'Tab 6 Content' },
        { tab: '1960', content: 'Tab 7 Content' },
        { tab: '1970', content: 'Tab 8 Content' },
        { tab: '1980', content: 'Tab 9 Content' },
        { tab: '1990', content: 'Tab 10 Content' },
        { tab: '2000', content: 'Tab 1One Content' },
        { tab: '2010', content: 'Tab 2One Content' },
        { tab: '2020', content: 'Tab 3One Content' },
      ],
    }
  },

  computed: {
    ...mapGetters(['currentUser', 'status', 'authError',
    'newPasswordSuccessFlag'
    ]),

    isEmailNotConfirmed() {
      // check token confirmation ?
      // console.log(this.status);
      return this.status === 'registered' ? true : false
    },

    isEmailConfirmed() {
      // check token confirmation ?
      return false
    },

    verificationEmailError() {
      // check token confirmation ?
      return false
    },
  },

  created() {
    // this.$emit('update:layout', MainLayout);


    console.log(this.$route.params.id, 'this.$route.params.id ', this.tab);
    this.$gapi.listenUserSignIn((isSignedInWithGoogle) => {
      this.isSignedInWithGoogle = isSignedInWithGoogle
    })

    //     console.log(document.cookie.includes("Token"));
    //     if (document.cookie.includes("Token")) {
    //       this.isLoggedIn = true
    //     } else {
    //       this.isLoggedIn = false
    //     }
    // console.log(this.currentUser, this.status);
    if (this.currentUser) {
      this.isLoggedIn = true
    } else {
      this.isLoggedIn = false
    }

    // console.log(this.isLoggedIn) 
  },

  methods: {
    ...mapActions(['logout']),

    handleLogout() {
      if (this.isSignedInWithGoogle) {
        this.$gapi.logout()
        console.log('here');
      } else {
        this.isLoggedIn = false
        document.cookie =  "Token=" + '=; Max-Age=-99999999;';  
      
      this.logout()
      
      // this.$store.dispatch('logout')
      // .then(() => {
      //   
      // })
      }
    },
  }
}
</script>
