<template>
  <v-container style="height: 100vh;" class="d-flex flex-column">
    <!-- <v-row class="text-center">
        <h1 class="display-1  mb-3">
          Описание проекта -->
        
          <!-- бескоенечная лента -->
        <!-- </h1> -->

   
      <!-- 
      <v-col class="mb-5" cols="12">
        <router-link to="/auth">auth</router-link>
        <router-link to="verification">verification</router-link>
        <router-link to="forgot">forgot</router-link>
        <router-link to="new-password">new-password</router-link>
      </v-col> -->

    <!-- </v-row> -->



  <ArticleCard v-for="(post, idx) in allPosts" :key="idx" :author="'user 1'" createdAt="22.22.2222" :title="post.title" :body="post.post" />


  </v-container>
</template>

<script>
import ArticleCard from '../components/articles/ArticleCard'

import { mapGetters } from 'vuex'

export default {
  name: 'start-page',
  components: {
    ArticleCard,
  },
  computed: {
    ...mapGetters(['allPosts']),
  },
  async created() {
    console.log(this.allPosts);

    // this.allPosts = this.allPosts.map(post => {
    //   console.log(post);
    //   let x = convertToHTML(post.post)
    //   console.log(x);
    // })
    // // this.posts = {...this.allPosts, }
    // console.log(this.allPosts);


    // this.lessonModel.setBaseUrl('domain', 'axios')
  },
  data() {
    return {
      posts: []
    }
  }
}
</script>
