<template>
  <div>
    <v-container>
      <v-row class="mt-6">
        <v-col>
          <v-app-bar color="white" dense elevation="0" >
            <v-breadcrumbs>Томск в {{$route.params.id}}</v-breadcrumbs>

            <v-spacer></v-spacer>

            <v-text-field
              label="Поиск"
              prepend-icon="mdi-magnify"
              class="mr-4"
            ></v-text-field>
            
            <DotsMenu :menuOptions="menuOptions" />
            <!-- <v-menu
              bottom
              left
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  icon
                  v-bind="attrs"
                  v-on="on"
                  small
                >
                  <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
              </template>

              <v-list>
                <v-list-item>
                  <v-list-item-title>что-то 1</v-list-item-title>
                </v-list-item>

                <v-list-item>
                  <v-list-item-title>что-то 2</v-list-item-title>
                </v-list-item>
                <v-list-item>
                  <v-list-item-title>что-то 3</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu> -->
          </v-app-bar>
          <v-divider class="mx-4"></v-divider>
 
          <!--  -->
          <ArticleCard author="Пользователь 1" createdAt="05.04.2020" />
          
        </v-col>
      </v-row>
      
    </v-container>
    
  </div>
</template>

<script>
import ArticleCard from '../components/articles/ArticleCard'
import DotsMenu from '../components/widgets/DotsMenuButton'

export default {
  components: {
    ArticleCard,
    DotsMenu,
  },

  mounted() {
    // console.log(this.$router);
    // console.log(this.$route);
  },

  data() {
    return {
      menuOptions: [
        {name: "Что-то 1"},
        {name: "Что-то 2"},
        {name: "Что-то 3"}
      ]
    }
  }
}
</script>

<style>
/* .card-actions:hover {
  color: red;
} */
</style>