<template>
  <div class="d-flex">

    <SideBar :items="items" />
  
    <v-main class="pt-0">
      <v-container
        fluid
        class="grey lighten-4 fill-height"
      >
        <v-row
          justify="center"
          align="center"
        >
          <v-col class="shrink">
            <router-view></router-view>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </div>
</template>

<script>
import SideBar from '../components/SideBar'

export default {
  name: 'account',

  props: {},

  components: {
    SideBar
  },
  data: () => ({
    // drawer: null,
    items: [
      { icon: 'mdi-lightbulb-outline', text: '! Мой профиль', link: '/account' },
      { icon: 'mdi-lightbulb-outline', text: 'Notes' },
      { icon: 'mdi-reminder', text: 'Reminders' },
      // { divider: true },
      { icon: 'mdi-plus', text: '! Создать новый пост', link: '/create-post' },
      { divider: true },
      { icon: 'mdi-archive', text: 'Archive' },
      { icon: 'mdi-delete', text: 'Trash' },
      { divider: true },
      { icon: 'mdi-settings', text: 'Settings' },
      { icon: 'mdi-chat', text: '! Messages', link: '/messages' },
      { icon: 'mdi-help', text: 'Help' },
      { icon: 'mdi-devices', text: 'App downloads' },
      { icon: 'mdi-keyboard', text: 'Keyboard shortcuts' },
    ],
  }),
}
</script>

<style>

</style>