<template>
  <v-app-bar app elevation="0" dense dark style="z-index: 1000;" >

  <!-- <v-card max-width="93%" style="height: 100%;" > -->
    <!-- <v-tabs 
      style="width: 94%"
      v-model="tab"
      ref="tab"
      id="tab"
      background-color="grey darken-4"
      show-arrows
    >
      <v-tabs-slider color="white"></v-tabs-slider>

      <v-tab style="height: 100%;"
        v-for="item in items"
        :key="item.tab"
        @click="$router.push(`/timeline/${item.tab}`)"
      >
        {{ item.tab }}
      </v-tab>
    </v-tabs> -->

    <!-- <v-tabs-items v-model="tab">
      <v-tab-item
        v-for="item in items"
        :key="item.tab"
      >
        <v-card flat>
          <v-card-text>{{ item.content }}</v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs-items> -->
  <!-- </v-card> -->


    <!-- <div @click="() => this.$router.push('/')">Home</div> -->

    <v-spacer></v-spacer>

    <div v-if="isUserLoggedIn !== null">
      <v-btn to="/create-post" color="warning" class="mr-5">Добавить пост</v-btn>
      
      <v-menu  v-if="isUserLoggedIn" offset-y>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            v-bind="attrs"
            v-on="on"
            fab
            light
            x-small
            elevation="2"
          >
          <v-icon>mdi-account</v-icon>
          <!-- Логин -->
          </v-btn>
        </template>
        <v-list>
          <v-list-item to="/account">
            <v-list-item-title>Личный кабинет</v-list-item-title>
          </v-list-item>
          <v-list-item @click="$emit('onLogout')">
            <v-list-item-title>Выход</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>

      <v-btn color="primary" dark v-if="!isUserLoggedIn" to="/auth">Вход</v-btn>
    </div>


    <v-progress-linear
      v-else
      indeterminate
      absolute
      top
      color="yellow darken-2"
    ></v-progress-linear>

    </v-app-bar>

</template>

<script>
export default {
  name: 'app-bar',
  props: {
    isUserLoggedIn: Boolean,
    userName: String
  },
  data() {
    return {}
  },
}
</script>

<style>

</style>