<template>
  <v-navigation-drawer
    v-model="drawer"
    permanent
    expand-on-hover
    :mini-variant.sync="mini"
    color="grey lighten-4"
  >
    <v-list
      dense
      class="grey lighten-4"
    >
      <template v-for="(item, i) in items">
        <v-divider
          v-if="item.divider"
          :key="i"
          dark
          class="my-4"
        ></v-divider>

        <v-list-item
          v-else
          :key="i"
          link
          :to="item.link"
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="grey--text">
              {{ item.text }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </template>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: 'sidebar',
  props: {
    // drawer: Boolean,
    items: Array,
  },
  data() {
    return {
      drawer: null,
      mini: true,
    }
  }
}
</script>

<style>

</style>