<template>
  <v-tabs 
    v-model="activeTab"
    ref="tab"
    id="tab"
    dark
    background-color="grey darken-4"
    show-arrows
    grow
  >
    <v-tabs-slider color="white"></v-tabs-slider>

    <v-tab @click="$router.push('/')" >
      Home
    </v-tab>

    <v-tab
      v-for="item in allTabs"
      :key="item.tab"
      @click="$router.push(`/timeline/${item.tab}`)"
    >
      {{ item.tab }}
    </v-tab>

    <v-tab  @click="$router.push('/forum')" >
      Форум
    </v-tab>
  </v-tabs>
</template>

<script>
export default {
  name: 'tabs',
  props: {
    allTabs: Array,
  },

  computed: {
    activeTab: {
      get: function () {
        if (this.$route.params.id) {
          let x = this.allTabs.findIndex(tab => tab.tab === this.$route.params.id)
          console.log(x);
          return x + 1
        } else {
          // console.log(this.$route, 'herer');
          switch (this.$route.name) {
            case "Forum":
              return this.allTabs.length + 1
          
            default:
              return null
          }
          
        }
      },
      set: function () {
        // console.log(newValue);
      }
    },
  }
}
</script>

<style>

</style>