<template>
  <v-app>
    <router-view/>
  </v-app>
  
    <!-- <v-app>
      <component :is="layout">
        <router-view />
      </component>
    </v-app> -->
</template>

<script>

export default {
  name: 'App',
  data: () => ({}),

  computed: {
    layout() {
      console.log(this.$route.meta.layout);
      return this.$route.meta.layout || 'main-layout'
    }
  }
};
</script>
<style>
* {
  font-family: 'Roboto';
}

/* scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #e7e7e7;
}
::-webkit-scrollbar-thumb {
  background: #555;
}
::-webkit-scrollbar-thumb:hover {
  background: #333;
}
</style>
