<template>
  <v-dialog v-model="dialog" persistent max-width="500px" min-width="360px" >

    <div class="d-flex flex-row-reverse">
      <v-tabs show-arrows v-model="tab" background-color="grey darken-3"  icons-and-text centered dark center-active fixed-tabs>
        <v-tabs-slider color="grey lighten-3"></v-tabs-slider>
        <v-tab v-for="i in tabs" :key="i.name">
          <v-icon large class="d-none d-sm-flex">{{ i.icon }}</v-icon>
          <div class="caption py-1">{{ i.name }}</div>
        </v-tab>


        <!-- login -->
        <v-tab-item>
          <AuthForm btnText="Войти" @handleSubmit="onLoginSubmit" :isConfirmPasswordShow="false" :errorText="error">
            <v-col class="d-flex justify-center align-center" cols="12" slot="additionalButtons">
              <v-btn large to="/forgot" plain class="mt-3">Забыли пароль?</v-btn>
            </v-col>

            <v-col class="d-flex justify-center align-center" cols="12" slot="footerLink">
              <v-btn large color="primary"  @click="onGoogleSignIn" data-onsuccess="onSignIn">
                <v-icon class="mr-2">mdi-google</v-icon>
                Войти с помощью Google аккаунт
              </v-btn>
            </v-col>
          </AuthForm>
        </v-tab-item>
        
        <!-- Register -->
        <v-tab-item>
          <AuthForm btnText="Зарегистрироваться" @handleSubmit="onRegisterSubmit" :isConfirmPasswordShow="true" :errorText="error">
             <v-col cols="12" sm="6" md="6" slot="additionalFields">
                <v-text-field v-model="firstName" :rules="[rules.required, rules.nameMinLength, rules.nameMaxLength]" label="Имя" maxlength="55" required></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6" slot="additionalFields">
                <v-text-field v-model="lastName" :rules="[rules.required, rules.nameMinLength, rules.nameMaxLength]" label="Фамилия" maxlength="55" required></v-text-field>
              </v-col>
             <v-col slot="additionalFields"  cols="12">
              <label for="registerPhone" class=" v-label--active theme--light">Телефон</label>
              <v-text-field placeholder="8 888 888 8888" v-mask="'# ### ### ####'" class="pa-0" maxLength="14" v-model="registerPhone" :rules="phoneRules" id="registerPhone"></v-text-field>
            </v-col>
          </AuthForm>

        </v-tab-item>
      </v-tabs>
    </div>
  </v-dialog>
</template>

<script>
import AuthForm from '../../components/auth/AuthForm'
import { mapActions, mapGetters } from 'vuex'


// import {AuthAction} from "@egal/model/compile/build/index.js";
// import {EventObserver} from "@egal/model/compile/build/index"


export default {
  name: 'Auth',

  components: {
    AuthForm
  },

  computed: {
    ...mapGetters(['user', 'status', 'authError']),
  },

  mounted() {
    

  },
  
  data: () => ({
    error: '',

    dialog: true,
    tab: 0,
    tabs: [
      {name:"Войти в личный кабинет", icon:"mdi-account"},
      {name:"Регистрация", icon:"mdi-account-outline"}
    ],

 
    registerPhone: "",
    confirmPassword: "",
    firstName: "",
    lastName: "",


    rules: {
      required: v => !!v || "Поле обязательно для заполнения",
      nameMinLength: v=> (v && v.length >= 3) || "Поле должно содержать минимум 3 символа",
      nameMaxLength: v => (v && v.length <= 55) || "Поле должно содержать максимум 55 символов",
    },
    phoneRules: [
      v => (v.length === 0 || /^[0-9 ]+$/.test(v)) || 'Поле может содержать только цифры',
      v => (!v || v.length === 14) || 'Поле должно содержать ровно 11 знаков'
    ]
  }),

  methods: {
    ...mapActions(['login', 'register',
    'testreg', 'testLog',
    'loggedWithGoogle']),
    
    onLoginSubmit(data) {
      // send later:
      console.log(data);
      this.error = ''


      // let userAuth = {email: data.email, password: data.password}
      // auth.authUser(userAuth)


      // then
      // this.$router.push('/')
      // ////
      // document.cookie = "Token=" +' response.data.Token' + ";" + 'expires' + ";path=/";


      this.testLog(data).then(r => {
        console.log(r);
        this.$router.push('/')
      })
      // catch
      // this.error = "Неверный e-mail /логин или пароль"
    },
    onRegisterSubmit(data) {
      let registerData = {
        firstName: this.firstName,
        lastName: this.lastName,
        ...data
      }

      
      // let userReg = {email: data.email, password: data.password}
      // auth.registerNewUser(userReg)


      // send later:
      console.log(registerData);


      // then:
      // this.$router.push('/success')



      this.testreg(registerData).then(r => {
        console.log(r)
        this.$router.push('/')
        // this.$vToastify.success("Письмо с подтверждением почты выслано на указанный e-mail", " ");
      })

      // catch
      // this.error = "Пользователь с данным e-mail уже существует"


      this.error = ''
      this.registerFirstName = ''
      this.registerLastName = ''

    },
    onGoogleSignIn() {

      this.$gapi.login().then(r => {
        this.loggedWithGoogle(r.currentUser)
        console.log(r);
        this.$router.push('/')
      }).catch(e => {
        console.log(e);
      })
      // console.log( googleUser);
      //   var profile = googleUser.getBasicProfile();
        
      //   console.log("ID: " + profile.getId()); // Don't send this directly to your server!
      //   console.log('Full Name: ' + profile.getName());
      //   console.log('Given Name: ' + profile.getGivenName());
      //   console.log('Family Name: ' + profile.getFamilyName());
      //   console.log("Image URL: " + profile.getImageUrl());
      //   console.log("Email: " + profile.getEmail());

      //   // The ID token you need to pass to your backend:
      //   var id_token = googleUser.getAuthResponse().id_token;
      //   console.log("ID Token: " + id_token);
      }
  },
}
</script>

<style>
/* .v-dialog {
  box-shadow: none !important;
} */
</style>