<template>
  <v-main style="height: 100%;" class="grey lighten-3">
    <!-- <v-row class="mt-2" style="position: relative;">
      <v-col style="position: absolute; width: 600px; right: 0;">
      </v-col>
    </v-row> -->
    

    <v-container class="d-flex justify-center align-center" style="height: 100%;">
      <v-card class="px-4" elevation="5" max-width="600px" min-width="300px">
        <v-card-text class="pt-6">
          <v-form ref="updPasswordForm" v-model="valid" lazy-validation @keyup.native.enter="updatePassword">
            <v-row>

              <slot name="additionalFields"></slot>

               <v-col cols="12">
                <label  class="v-label--active theme--light">Пароль</label>
                <v-text-field  class="pa-0" v-model="password" :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'" 
                  :rules="[passwordRules.required, passwordRules.min, passwordRules.max]" :type="showPassword ? 'text' : 'password'" 
                  counter @click:append="showPassword = !showPassword" >
                </v-text-field>
              </v-col>

              <v-col cols="12" slot="afterInputs">
                <label class=" v-label--active theme--light">Подтвердите пароль</label>
                <v-text-field  block v-model="confirmPassword"
                  :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'" 
                  :rules="[passwordRules.required, passwordMatch]" :type="showPassword ? 'text' : 'password'" counter 
                  @click:append="showPassword = !showPassword">
                </v-text-field>
              </v-col>
              <v-spacer></v-spacer>
              <v-col class="d-flex ml-auto justify-end align-center " cols="12" sm="6" xsm="12">
                <v-btn large  color="success" @click.prevent="updatePassword">Подтвердить</v-btn>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
      </v-card>
    </v-container>
  </v-main>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'update-password',

  computed: {
    passwordMatch() {
      return () => this.password === this.confirmPassword || "Пароли должны совпадать";
    }
  },

  data: () => ({
    valid: false,

    password: "",
    confirmPassword: "",
    showPassword: false,
    
    isPasswordUpdated: false,

    passwordRules: {
      required: value => !!value || "Введите пароль",
      min: v => (v && v.length >= 6) || "Ваш пароль должен содержать от 6 до 16 символов",
      max: v => (v && v.length <= 16) || "Ваш пароль должен содержать от 6 до 16 символов",
    },

    isLinkRequestSend: false,
  }),

  methods: {
    ...mapActions(['createNewPassword']),

    updatePassword() {
      if (this.$refs.updPasswordForm.validate()) {
        this.isPasswordUpdated = true
        
        // set to store
        this.createNewPassword(this.password).then(r => {
          console.log(r);
          this.$router.push('/')
          this.$vToastify.success("Пароль успешно изменен. Сообщение об изменении выслано на e-mail", " ");
        })
      }
      
    }
  }
}
</script>

<style>

</style>