<template>
  <v-main style="height: 100%;" class="grey lighten-3">
    <!-- <v-row class="mt-2" style="position: relative;">
      <v-col style="position: absolute; width: 600px; right: 0;">
        <v-alert :value="isLinkRequestSend" dismissible type="success" name="isLinkRequestSend" transition="slide-x-transition" class="mr-6" style="position: absolute; width: 400px; right: 0;">На e-mail выслан запрос для подтверждения смены пароля</v-alert>
      </v-col>
    </v-row> -->
    

    <v-container class="d-flex justify-center align-center" style="height: 100%;">
      <v-card class="px-4" elevation="5">
        <v-card-text class="pt-6">
          <v-form ref="forgotForm" v-model="valid" lazy-validation>
            <v-row>

              <slot name="additionalFields"></slot>

              <v-col cols="12">
                <label  class="v-label--active theme--light">E-mail</label>
                <v-text-field class="pa-0" v-model="email" :rules="emailRules" required @keypress.enter.prevent="getPasswordLink"></v-text-field>
              </v-col>

              <v-spacer></v-spacer>
              <v-col class="d-flex ml-auto justify-end align-center " cols="12" sm="6" xsm="12">
                <v-btn large  color="success" @click.prevent="getPasswordLink">Отправить</v-btn>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
      </v-card>
    </v-container>
  </v-main>
</template>

<script>

export default {
  name: 'forgot-password',
  
  data: () => ({
    valid: false,

    email: "",
    emailRules: [
      v => !!v || "Введите email",
      v => /^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$/.test(v) || "Введите корректный e-mail",
      v => (v && v.length >= 5) || "Поле должно содержать не менее 5 и не более 50 символов",
      v => (v && v.length <= 50) || "Поле должно содержать не менее 5 и не более 50 символов",
    ],

    isLinkRequestSend: false,
  }),

  methods: {
    getPasswordLink() {
      if (this.$refs.forgotForm.validate()) {
        this.isLinkRequestSend = true
        this.$router.push('/')
        this.$vToastify.success("На e-mail выслан запрос для подтверждения смены пароля", " ");
      }
    }
  }
}
</script>

<style>

</style>