<template>
<!-- DELETE ALL -->
  <InfoCard titleText="Письмо с подтверждением почты выслано на указанный e-mail" cardText="Проверьте свою электронную почту">
    <v-btn light @click="goHome" slot="card-actions">
      Вернуться(Закрыть)
    </v-btn>
  </InfoCard>
</template>

<script>
import InfoCard from '../components/InfoCard'

export default {
  name: "SuccessAuth",
  components: {
    InfoCard
  },
  data() {
    return {
      alert: true
    }
  },
  methods: {
    goHome() {
      this.$router.push('/')
    }
  }
}
</script>

<style>
.success-wrapper {
  height: 100%;
}
</style>