<template>
  <InfoCard :titleText="isLinkActive ? 'Ваш e-mail подтвержден' : 'Ссылка неактивна. Ссылка уже была активирована'">
    <v-btn outlined text @click="goHome" v-if="isLinkActive" slot="card-actions">
      ОК
    </v-btn>
    <v-btn outlined text @click="goHome" v-else slot="card-actions">
      ОК
    </v-btn>
  </InfoCard>
</template>

<script>
import InfoCard from '../../components/widgets/InfoCard'

export default {
  name: 'verification',
  components: {
    InfoCard
  },
  data() {
    return {
      isLinkActive: true
    }
  },
  methods: {
    goHome() {
      this.$router.push('/')
    }
  }
}
</script>

<style>
/* .success-wrapper {
  height: 100%;
} */
</style>