<template>
  <v-card class="px-4">
    <v-card-text class="pt-6 pb-8">
      <v-form ref="authForm" v-model="valid" lazy-validation  @keyup.native.enter="handleSubmit">
        <v-row>
          <v-col cols="12">
            <v-alert :value="errorText ? true : false" type="error" transition="slide-x-transition">{{errorText}}</v-alert>
          </v-col>
          
          <slot name="additionalFields"></slot>

          <v-col cols="12">
            <label  class="v-label--active theme--light">E-mail</label>
            <v-text-field class="pa-0" v-model="email" :rules="emailRules" required maxLength="50"></v-text-field>
          </v-col>
          <v-col cols="12">
            <label  class="v-label--active theme--light">Пароль</label>
            <v-text-field class="pa-0" v-model="password" :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'" maxLength="16"
              :rules="[passwordRules.required, passwordRules.min, passwordRules.max]" :type="showPassword ? 'text' : 'password'" 
              counter @click:append="showPassword = !showPassword">
              <!-- maxlength="16" -->
            </v-text-field>
          </v-col>

            <v-col cols="12" v-if="isConfirmPasswordShow">
            <label class=" v-label--active theme--light">Подтвердите пароль</label>
            <v-text-field block v-model="confirmPassword"
              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"  maxLength="16"
              :rules="[passwordRules.requiredConfirm, passwordMatch]" :type="showPassword ? 'text' : 'password'" counter 
              @click:append="showPassword = !showPassword">
              <!-- maxlength="16" -->
            </v-text-field>
          </v-col>

          <slot name="footerLink"></slot>

          <slot name="additionalButtons"></slot>

          <v-spacer></v-spacer>
          <v-col class="d-flex justify-space-between align-stretch mt-2" cols="12" sm="6 flex-column" md="6">
            <v-btn large type="submit" color="error" to="/">Закрыть</v-btn>
          </v-col>
          <v-col class="d-flex justify-space-between align-stretch mt-2" cols="12" sm="6 flex-column" md="6">
            <v-btn large type="submit" color="success" @click.prevent="handleSubmit">{{btnText}}</v-btn>
          </v-col>
        </v-row>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'auth-form',
  props: {
    btnText: String,
    isConfirmPasswordShow: Boolean,
    errorText: String,
  },
  computed: {
    passwordMatch() {
      return () => this.password === this.confirmPassword || "Пароли не совпадают";
    }
  },
  data: () => ({
    valid: false,
    showPassword: false,

    password: "",
    confirmPassword: "",
    email: "",
    emailRules: [
      v => !!v || "Введите email",
      v => /^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$/.test(v) || "Введите действительный e-mail",
      v => (v && v.length >= 5) || "Поле должно содержать не менее 5 и не более 50 символов",
      v => (v && v.length <= 50) || "Поле должно содержать не менее 5 и не более 50 символов",
    ],

    passwordRules: {
      required: value => !!value || "Введите пароль",
      requiredConfirm: v => !!v || "Введите пароль еще раз",
      min: v => (v && v.length >= 6) || "Ваш пароль должен содержать от 6 до 16 символов",
      max: v => (v && v.length <= 16) || "Ваш пароль должен содержать от 6 до 16 символов",
    }
  }),

  methods: {
    handleSubmit() {
      if (this.$refs.authForm.validate()) {
        this.$emit('handleSubmit', {
          email: this.email,
          password: this.password
        })

        this.email = ''
        this.password = ''
      }
    },
    // reset() {
    //   console.log('reset');
    //   this.$refs.authForm.reset();
    // },
    // resetValidation() {
    //   console.log('resetValidation');
    //   this.$refs.authForm.resetValidation();
    // }
  }
}
</script>

<style>

</style>