<template>
  <v-card-text class="pa-2">
    <v-chip-group
      column
    >
    <v-chip v-for="chip in chips" :key="chip"
      close
      @click:close="$emit('removeChip', {chipText: chip, chipType: chipsType})"
    >
      <strong>{{ chip }}</strong>&nbsp;
    </v-chip>
    </v-chip-group>
    

    <v-text-field v-if="!isOnlyChipAvailible || (isOnlyChipAvailible && chips && chips.length < 1)" v-model="newChipText" @keyup.enter="onChipAdd"
      label="Добавьте теги"
      placeholder="Теги"
      clearable
      :type="inputType"
      :maxLength="maxLength"
      :rules="lengthRules"
    ></v-text-field>
  </v-card-text>
</template>

<script>
export default {
  name: 'chips-component',
  props: {
    chips: Array,
    isOnlyChipAvailible: Boolean,
    chipsType: String,
    inputType: String,
    maxLength: String,
  },
  data() {
    return {
      newChipText: '',
      lengthRules: [v => v.length <= this.maxLength || `Поле должно содержать максимум ${this.maxLength} символов`],
    }
  },
  methods: {
    onChipAdd() {
      this.$emit('addNewChip', {chipText: this.newChipText, chipType: this.chipsType})
      this.newChipText = ''
    }
  }
}
</script>

<style>

</style>