<template>
  <v-main class="quill-container mb-10">
    <v-row justify="center">
      <v-tabs>
        <v-spacer></v-spacer>
          <v-tab @click="isEditorShow = true">Содание поста</v-tab>
          <v-spacer></v-spacer>
          <v-tab  @click="isEditorShow = false">Предпросмотр</v-tab>
          <v-spacer></v-spacer>
      </v-tabs>
      
    </v-row>
    

    <v-card v-if="isEditorShow" flat>
      <v-card-text class="mt-10">

        <v-card  elevation="3" outlined class="quill-wrapper mb-3 pb-10">
          <!-- меню по клику на текст -->
          <div id="tooltip-controls">
            <TooltipedButton btnColor="white" @handleBtnClick="onBoldClick" tooltipText="Жирный" iconName="mdi-format-bold" />
            <TooltipedButton btnColor="white" @handleBtnClick="onItalicClick" tooltipText="Курсив" iconName="mdi-format-italic" />
            <TooltipedButton btnColor="white" @handleBtnClick="onUnderlineClick" tooltipText="Подчеркнутый" iconName="mdi-format-underline" />

            <TooltipedButton btnColor="white" @handleBtnClick="onLinkClick" tooltipText="Ссылка" iconName="mdi-link" />
            <TooltipedButton btnColor="white" @handleBtnClick="onBlockquoteClick" tooltipText="Цитата" iconName="mdi-format-quote-close" />
            <TooltipedButton btnColor="white" @handleBtnClick="onHeaderOneClick" tooltipText="Заголовок 1" iconName="mdi-format-header-1" />
            <TooltipedButton btnColor="white" @handleBtnClick="onHeaderTwoClick" tooltipText="Заголовок 2" iconName="mdi-format-header-2" />

            <TooltipedButton btnColor="white" @handleBtnClick="onBlockClick" tooltipText="Отменить изменения" iconName="mdi-undo-variant" />
          </div>


          <!-- меню при переходе на новую строку  @blur="closeShowControls"-->
          <div id="sidebar-controls" >
            <v-btn icon color="pink" id="show-controls">
              <v-icon v-if="!isShowControlsClicked" @click="onShowControlsClick" @blur="closeShowControls">mdi-plus</v-icon>
              <v-icon v-else @click="onShowControlsClick" @blur="closeShowControls">mdi-close</v-icon>
            </v-btn>

            <span class="controls" v-show="isShowControlsClicked">
              <TooltipedButton btnColor="grey darken-3" @handleBtnClick="onImageBtnClick" tooltipText="Фото" iconName="mdi-camera" />
              <input type="file" id="image-button" name="filename" @change="uploadImage" style="display:none;" accept="image/*">
              <TooltipedButton btnColor="grey darken-3" @handleBtnClick="onDividerClick" tooltipText="Разделитель" iconName="mdi-minus" />

              <TooltipedButton btnColor="grey darken-3" @handleBtnClick="onBlockClick" tooltipText="Отменить изменения" iconName="mdi-undo-variant" />
            </span>
          </div>

          <div id="editor-header" class="mb-2" :class="[titleError ? 'error-field' : '']">
            <textarea @input="titleError = false" placeholder="Название" id="titleArea" style="height: 42px;" v-model="textHeader"></textarea>
          </div>
          <p class="error-select" v-if="titleError">Поле должно быть заполнено</p>

          <quill-editor @change="bodyError = false"
            id="editor-container"
            ref="myQuillEditor"
            v-model="content"
            :options="editorOption"
            @blur="onEditorBlur($event)"
          />

          <p class="error-select" v-if="bodyError">Поле должно быть заполнено</p>

          <v-card-actions id="bottom-menu" class="py-6">
            <span class="controls">
              <TooltipedButton btnColor="grey darken-3" @handleBtnClick="onImageBtnClick" tooltipText="Фото" iconName="mdi-camera" />
              <input type="file" id="image-button" name="filename" @change="uploadImage" style="display:none;" accept="image/*">

              <TooltipedButton btnColor="grey darken-3" @handleBtnClick="onDividerClick" tooltipText="Разделитель" iconName="mdi-minus" />


              <TooltipedButton btnColor="grey darken-3" @handleBtnClick="onBoldClick" tooltipText="Жирный" iconName="mdi-format-bold" />
              <TooltipedButton btnColor="grey darken-3" @handleBtnClick="onItalicClick" tooltipText="Курсив" iconName="mdi-format-italic" />
              <TooltipedButton btnColor="grey darken-3" @handleBtnClick="onUnderlineClick" tooltipText="Подчеркнутый" iconName="mdi-format-underline" />


              <TooltipedButton btnColor="grey darken-3" @handleBtnClick="onLinkClick" tooltipText="Ссылка" iconName="mdi-link" />
              <TooltipedButton btnColor="grey darken-3" @handleBtnClick="onBlockquoteClick" tooltipText="Цитата" iconName="mdi-format-quote-close" />
              <TooltipedButton btnColor="grey darken-3" @handleBtnClick="onHeaderOneClick" tooltipText="Заголовок 1" iconName="mdi-format-header-1" />
              <TooltipedButton btnColor="grey darken-3" @handleBtnClick="onHeaderTwoClick" tooltipText="Заголовок 2" iconName="mdi-format-header-2" />
              <TooltipedButton btnColor="grey darken-3" @handleBtnClick="onBlockClick" tooltipText="Отменить изменения" iconName="mdi-undo-variant" />
            </span>
          </v-card-actions>

          <!-- теги -->
          <v-row  class="d-flex justify-center align-center" >
            <v-col cols="6" >
              <v-row class="pa-2">
                <v-select id="select-timePeriod" @click="selectError = false"
                  :class="[selectError ? 'select-field' : '']"
                  :items="timePeriods"
                  v-model="selectedTimePeriod"
                  label="Выберите временной интервал"
                ></v-select>
              </v-row>
              <p class="error-select" v-if="selectError">Поле должно быть заполнено</p>
            </v-col>

            <v-col cols="12" class="pa-2">
              <v-btn width="100%" plain v-if="!isYearChipsShow" @click="isYearChipsShow = !isYearChipsShow">Добавить Год</v-btn>
              <Chips v-else @click="isYearChipsShow = !isYearChipsShow" :chips="allChips.yearChips" maxLength="4" inputType="number" chipsType="yearChips" :isOnlyChipAvailible="true" @addNewChip="addNewChip" @removeChip="removeChip" />
            </v-col>

            <v-col cols="12" class="pa-2">
              <v-btn width="100%" plain v-if="!isLastNameChipsShow" @click="isLastNameChipsShow = !isLastNameChipsShow">Добавить Фамилию</v-btn>
              <Chips v-else @click="isLastNameChipsShow = !isLastNameChipsShow" :chips="allChips.lastNameChips" maxLength="50" inputType="" chipsType="lastNameChips" :isOnlyChipAvailible="false" @addNewChip="addNewChip" @removeChip="removeChip" />
            </v-col>

            <v-col cols="12" class="pa-2">
              <v-btn width="100%" plain v-if="!isStreetChipsShow" @click="isStreetChipsShow = !isStreetChipsShow">Добавить Адрес</v-btn>
              <Chips v-else @click="isStreetChipsShow = !isStreetChipsShow" :chips="allChips.streetChips" maxLength="255" inputType="" chipsType="streetChips" :isOnlyChipAvailible="false" @addNewChip="addNewChip" @removeChip="removeChip" />
            </v-col>

            <v-col cols="12" class="pa-2">
              <v-btn width="100%" plain v-if="!isEducationalInstitutionChipsShow" @click="isEducationalInstitutionChipsShow = !isEducationalInstitutionChipsShow">Добавить Учебное заведение</v-btn>
              <Chips v-else @click="isEducationalInstitutionChipsShow = !isEducationalInstitutionChipsShow" :chips="allChips.educationalInstitutionChips" maxLength="255" inputType="" chipsType="educationalInstitutionChips" :isOnlyChipAvailible="false" @addNewChip="addNewChip" @removeChip="removeChip" />
            </v-col>
          </v-row>
        </v-card>

        <v-row class="mt-5 pa-5">
          <v-btn to="/">Отменить</v-btn>
          <v-spacer></v-spacer>
          <v-btn @click="createPost" class="warning">Отправить на модерацию</v-btn>
        </v-row>
        
    </v-card-text>
  </v-card>


    <PostPreWatch v-else :textHeader="textHeader" :allChips="allChips" :selectedTimePeriod="selectedTimePeriod" :body="content" />

  </v-main>
</template>

<script>
import toMarkdown from 'to-markdown'
import convertToHTML from 'markdown-to-html-converter'
import { Quill } from 'vue-quill-editor'
// import ImageResize from 'quill-image-resize-vue';
// Quill.register('modules/imageResize', ImageResize);

import Chips from './Chips'
import TooltipedButton from './TooltipedButton'
import { mapActions } from 'vuex'
import PostPreWatch from './PostPreWatch'


export default {
  components: {
    Chips,
    TooltipedButton,
    PostPreWatch,
  },
  data () {
    return {
      timePeriods: [
        'Дата неизвестна', 
        '1800-1899', 
        '1900-1910', 
        '1911-1920', 
        '1921-1930', 
        '1931-1940', 
        '1941-1950', 
        '1951-1960', 
        '1961-1970',
        '1971-1980',
        '1981-1990',
        '1991-2000',
        '2001-н.в.'
      ],
     

      currentTextFormat: 'block',
      // for render btn
      // saved: false,
      isEditorShow: true,
      selectError: false,
      titleError: false,
      bodyError: false,

      // quill editor
      isShowControlsClicked: false,
      textHeader: '',
      content: '',
      imagesArray: [],
      editorOption: {
        debug: 'error',
        placeholder: 'Описание',
        modules: {
          toolbar: []
        }
      },

      // chips
      allChips: {
        yearChips: [],
        streetChips: [],
        educationalInstitutionChips: [],
        lastNameChips: [],
      },
      isYearChipsShow: false,
      isStreetChipsShow: false,
      isEducationalInstitutionChipsShow: false,
      isLastNameChipsShow: false,

      selectedTimePeriod: ""
    }
  },

  mounted() {
    let Inline = Quill.import('blots/inline');
    let Block = Quill.import('blots/block');
    let BlockEmbed = Quill.import('blots/block/embed');

    class BoldBlot extends Inline { }
    BoldBlot.blotName = 'bold';
    BoldBlot.tagName = 'strong';

    class ItalicBlot extends Inline { }
    ItalicBlot.blotName = 'italic';
    ItalicBlot.tagName = 'em';

    class UnderlineBlot extends Inline { }
    UnderlineBlot.blotName = 'underline';
    UnderlineBlot.tagName = 'U';

    class LinkBlot extends Inline {
      static create(url) {
        let node = super.create();
        node.setAttribute('href', url);
        node.setAttribute('target', '_blank');
        return node;
      }
      
      static formats(node) {
        return node.getAttribute('href');
      }
    }
    LinkBlot.blotName = 'link';
    LinkBlot.tagName = 'a';

    class BlockquoteBlot extends Block { }
    BlockquoteBlot.blotName = 'blockquote';
    BlockquoteBlot.tagName = 'blockquote';

    class HeaderBlot extends Block {
      static formats(node) {
        return HeaderBlot.tagName.indexOf(node.tagName) + 1;
      }
    }
    HeaderBlot.blotName = 'header';
    HeaderBlot.tagName = ['H1', 'H2'];

    class DividerBlot extends BlockEmbed { }
    DividerBlot.blotName = 'divider';
    DividerBlot.tagName = 'hr';

    class ImageBlot extends BlockEmbed {
      static create(value) {
        let node = super.create();
        node.setAttribute('src', value.url);

        if (node.width > quill.container.clientWidth) {
          node.setAttribute('style', `display: block; margin: auto; max-width: ${quill.container.clientWidth - 16}px`);
        }
        node.setAttribute('style', `display: block; margin: auto; max-width: ${quill.container.clientWidth - 16}px`);
        return node;
      }
      
      static value(node) {
        return {
          url: node.getAttribute('src'),
          width: node.getAttribute('width'),
          style: node.getAttribute('style')
        };
      }
    }
    ImageBlot.blotName = 'image';
    ImageBlot.tagName = 'img';


    Quill.register(BoldBlot);
    Quill.register(ItalicBlot);
    Quill.register(UnderlineBlot)
    Quill.register(LinkBlot);
    Quill.register(BlockquoteBlot);
    Quill.register(HeaderBlot);
    Quill.register(DividerBlot);
    Quill.register(ImageBlot);


    let quill = this.editor

    let tooltipControls = document.getElementById('tooltip-controls')
    let sidebarControls = document.getElementById('sidebar-controls')
    quill.addContainer(tooltipControls);
    quill.addContainer(sidebarControls);

    let bottomMenu = document.getElementById('bottom-menu')
    quill.addContainer(bottomMenu);

 
    quill.on(Quill.events.EDITOR_CHANGE, function(eventType, range) {
      // document.getElementById('editor-header').classList.remove('error-field')
      document.getElementsByClassName('ql-container')[0].classList.remove('error-field')
      // document.getElementById('select-timePeriod').classList.remove('select-error')
      // this.selectError = false
      this.bodyError = false
      console.log(this.bodyError);
      // this.titleError = false

        
      if (eventType !== Quill.events.SELECTION_CHANGE) return;
      if (range == null) return;

      if (range.length === 0) {
        tooltipControls.style.display = 'none';

        let [block] = quill.scroll.descendant(Block, range.index);

        // if user clicks Enter:
        if (block != null && block.domNode.firstChild instanceof HTMLBRElement) {
          // show sidebar button
          let lineBounds = quill.getBounds(range);

          sidebarControls.classList.remove('active')
          sidebarControls.style.display = 'flex'
          sidebarControls.style.left = lineBounds.left - 50 + 'px'
          sidebarControls.style.top = lineBounds.top - 6 + 'px'
        } else {
          tooltipControls.style.display = 'none';
        }
      } else {
        tooltipControls.style.display = 'none';

        // show tooltip
        let rangeBounds = quill.getBounds(range);
        tooltipControls.style.display = 'flex';
        let offWidth = tooltipControls.offsetWidth
        tooltipControls.style.left = rangeBounds.left + (rangeBounds.width/2) - (offWidth/2) + 'px'
        tooltipControls.style.top = rangeBounds.bottom + 10 + 'px'
      }
    });
  },


  methods: {
    ...mapActions(['addPost']),
    onEditorBlur() {
      document.getElementById('sidebar-controls').style.display = 'none';
    },

    createPost() {
      this.saved = true
      console.log(this.textHeader);
      console.log(this.content);
      console.log(this.chips);

      if (this.textHeader.length === 0) {
        // this.$vToastify.error("Название должно быть заполнено", " ");
        this.titleError = true
      }
      if (this.content.length === 0) {
        // this.$vToastify.error("Описание должно быть заполнено", " ");
        document.getElementsByClassName('ql-container')[0].classList.add('error-field')
        this.bodyError = true
      }

      if (this.imagesArray.length === 0) {
        this.$vToastify.error("Прикрепите хотя бы одно изображение", " ");
      }

      if (this.selectedTimePeriod.length === 0) {
        // this.$vToastify.error("Выберите временной период", " ");
        // document.getElementById('select-timePeriod').classList.add('select-error')
        this.selectError = true
      }
      
      if (this.textHeader.length !== 0 && this.content.length !== 0 && this.imagesArray.length !== 0  && this.selectedTimePeriod.length !== 0) {
        
        document.getElementById('editor-header').classList.remove('error-field')
        document.getElementsByClassName('ql-container')[0].classList.remove('error-field')
        document.getElementById('select-timePeriod').classList.remove('select-error')
        this.selectError = false
        this.bodyError = false
        this.titleError = false

        let newPost = {
          title: this.textHeader,
          post: toMarkdown(this.content),
          tag: this.chips,
          images: this.imagesArray,
          chips: this.allChips,
          selectedTimePeriod: this.selectedTimePeriod
        }
        

        console.log(newPost);
        // CONVERT FROM MARKDOWN TO HTML
        console.log(convertToHTML(newPost.post));


        // then....
        this.$vToastify.success("Ваш пост отправлен на модерацию", " ");
        // then redirect ?
        // this.$router.push("/")
        this.addPost(newPost)


        // clear data ?
      }
    },

    addNewChip({chipText, chipType}) {
      switch (chipType) {
        case 'yearChips':
          this.allChips.yearChips.push(chipText)
          break;
        case 'streetChips':
          this.allChips.streetChips.push(chipText)
          break;
        case 'educationalInstitutionChips':
          this.allChips.educationalInstitutionChips.push(chipText)
          break;
        case 'lastNameChips':
          this.allChips.lastNameChips.push(chipText)
          break;
        default:
          break;
      }
      
    },
    removeChip({chipText, chipType}) {
      // this.chips = this.chips.filter(chip => chip.toLowerCase() != clickedChip.toLowerCase())
     
      switch (chipType) {
        case 'yearChips':
          // this.allChips.yearChips.push(chipText)
          this.allChips.yearChips = this.allChips.yearChips.filter(chip => chip.toLowerCase() != chipText.toLowerCase())
          break;
        case 'streetChips':
          // this.allChips.streetChips.push(chipText)
          this.allChips.streetChips= this.allChips.streetChips.filter(chip => chip.toLowerCase() != chipText.toLowerCase())
          break;
        case 'educationalInstitutionChips':
          // this.allChips.educationalInstitutionChips.push(chipText)
          this.allChips.educationalInstitutionChips = this.allChips.educationalInstitutionChips.filter(chip => chip.toLowerCase() != chipText.toLowerCase())
          break;
        case 'lastNameChips':
          // this.allChips.lastNameChips.push(chipText)
          this.allChips.lastNameChips = this.allChips.lastNameChips.filter(chip => chip.toLowerCase() != chipText.toLowerCase())
          break;
        default:
          break;
      }
    },

    // quill editor methods
    onShowControlsClick() {
      
      this.isShowControlsClicked = !this.isShowControlsClicked

      document.getElementById('sidebar-controls').classList.toggle('active');
      document.getElementById('editor-container').focus()
    },
    closeShowControls() {
      this.isShowControlsClicked = false
    },


    // sidebar buttons methods
    onImageBtnClick() {
      // triggers file input click
      if (this.imagesArray.length <= 10) {
        document.getElementById('image-button').click()
      } else {
        this.$vToastify.error("Максимум 10 картинок", " ");
      }
    },
    uploadImage(e) {
      let img = e.target.files[0]
      let maxImageSize = 10485760
      // let minImageSize = 1024

      if (img.size > maxImageSize) {
        this.$vToastify.error("Размер файла не должен превышать 10МБ", " ");
      // } else if (img.size < minImageSize) {
      //   this.$vToastify.error("Размер вашего файла меньше 1кб. Загрузите не пустой файл", " ");
      } else if (img) {

        let reader = new FileReader()
        reader.readAsDataURL(img);
        let quill = this.editor


        reader.onload = (e) => {
          let range = quill.getSelection(true);

          quill.insertEmbed(range.index, 'image', {
            url: `${reader.result}`
          }, Quill.sources.USER);
          
          this.imagesArray.push(e.target.result)

          // go to next line:
          quill.setSelection(range.index + 1, Quill.sources.USER)

          document.getElementById('sidebar-controls').style.display = 'none';

          // ??????
          quill.blur();

          e.target.value = "";
        };


        reader.onerror = function() {
          console.log(reader.error);
        };
      }
    },

    onDividerClick() {
      let range = this.editor.getSelection(true);
      this.editor.insertEmbed(range.index, 'divider', true, Quill.sources.USER);
      this.editor.setSelection(range.index + 1, Quill.sources.USER);
    },


    // tooltip buttons methods
    onBoldClick() {
      if (this.currentTextFormat === 'bold') {
        this.editor.format('bold', false)
        this.editor.format('block', true)
        this.currentTextFormat = 'block'
      } else {
        this.editor.format('bold', true);
        this.currentTextFormat = 'bold'
      }
    },
    onItalicClick() {
      if (this.currentTextFormat === 'italic') {
        this.editor.format('italic', false)
        this.editor.format('block', true)
        this.currentTextFormat = 'block'
      } else {
        this.editor.format('italic', true);
        this.currentTextFormat = 'italic'
      }
    },

    onUnderlineClick() {
      if (this.currentTextFormat === 'underline') {
        this.editor.format('underline', false)
        this.editor.format('block', true)
        this.currentTextFormat = 'block'
      } else {
        this.editor.format('underline', true);
        this.currentTextFormat = 'underline'
      }
    },

    // TODO: link обработчик ?
    onLinkClick() {
      let value = prompt('Enter link URL');
      this.editor.format('link', value);
    },

    onBlockquoteClick() {
      if (this.currentTextFormat === 'blockquote') {
        this.editor.format('block', true)
        this.currentTextFormat = 'block'
      } else {
        this.editor.format('blockquote', true);
        this.currentTextFormat = 'blockquote'
      }
    },
    onBlockClick() {
      if (this.currentTextFormat !== 'block') {
        this.editor.format(`${this.currentTextFormat}`, false)
      }
      this.editor.format('block', true)
      this.currentTextFormat = 'block'
    },
    onHeaderOneClick() {
      this.editor.format('header', 1);
    },
    onHeaderTwoClick() {
      this.editor.format('header', 2);
    }
  },

  computed: {
    editor() {
      return this.$refs.myQuillEditor.quill
    },
  },
}

</script>

<style>
/* if <style scoped> - styles are not applied */
main.quill-container {
  /* max-width: 900px; */
  width: 900px;
  margin: auto;
  font-family: 'Open Sans', Helvetica, sans-serif !important;
}

.render-btn {
  margin-bottom: 30px;
  width: inherit;
}

/* toolbar */
.ql-formats {
  margin-bottom: 10px;
}




/* //////// */
.quill-wrapper {
  border: 1px solid rgba(65, 65, 65, 0.2);
  padding: 30px 45px 15px 45px;
}

.quill-editor {
  padding: 0;
}

.ql-tooltip.ql-hidden {
  display: none;
}
.ql-container {
  font-size: 1.2rem !important;
}

#editor-container {
  font-size: 1.2em !important;
  height: 100%;
}
#editor-container .ql-editor {
  min-height: 100%;
  height: inherit;
  overflow-y: inherit;
  /* padding-bottom: 75px; */
  padding: 12px 0px 75px 15px;

  /* to fix image float style: */
  overflow: auto;
}

#editor-container .ql-editor > *:last-child {
  margin-bottom: 50px;
}
#editor-container h1 + p,
#editor-container h2 + p {
  margin-top: 0.5em; 
}
#editor-container blockquote {
  border-left: 4px solid #111;
  padding-left: 1em;
}
#editor-container hr {
  border: none;
  color: #111;
  letter-spacing: 1em;
  text-align: center;
  height: 100%;
  width: 100%;
}
#editor-container hr:before {
  content: '***';
  /* repeat just line ? */  
}

#tooltip-controls {
  background-color: #111;
  border-radius: 4px;
  display: none;
  padding: 5px 10px;
  position: absolute;
  z-index: 10;
}
#tooltip-controls::before {
  box-sizing: border-box;
  border-bottom: 6px solid #111;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: ' ';
  display: block;
  height: 6px;
  left: 50%;
  position: absolute;
  margin-left: -6px;
  margin-top: -6px;
  top: 0;
  width: 6px;
}


#sidebar-controls {
  display: none;
  position: absolute;
}


#sidebar-controls .controls, .menu .controls {
  margin-left: 5px;
  border: 1px solid #ededed;
  padding: 6px 8px 4px 8px;
  background-color: #fff;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 20%);
}
#sidebar-controls .controls button, .menu .controls button {
  margin: 0;
}

#sidebar-controls.active .controls {
  display: inline-block;
}



/* editor-header */
#editor-header textarea {
  padding: 0 15px;
  margin: 0;
  font-size: 32px;
  line-height: 42px;
  resize: none;
  overflow: hidden;
  border: none;
  width: 100%;
}

#editor-header textarea:focus {
  outline: none;
}



/* output */
.rendered-output {
  border: 1px dashed black;
  padding: 0 20px;
  font-family: 'Open Sans', Helvetica, sans-serif !important;
  overflow: auto;
}
.rendered-output .rendered-header {
  text-align: center;
  font-size: 32px;
  line-height: 42px;
}
.rendered-header textarea {
  width: 100%;
}

.render-content {
  overflow: auto;
}

.rendered-output p {
  line-height: 1.42;
}
.rendered-output img:not([width]) {
  max-width: unset !important;
  width: 100% !important;
}
.rendered-output .chips.chips-initial {
  margin-bottom: 5px;
}


.error-field {
  border-radius: 5px;
  border: 2px solid #ff5252 !important;
}
.select-error {
  border-bottom: 1px solid #ff5252 !important;
}
.error-select {
  color: #ff5252 !important;
  flex: 1 1 auto;
  font-size: 12px;
  min-height: 14px;
  min-width: 1px;
}

</style>