<template>
  <v-card
    class="mx-auto my-12"
    max-width="900"
  >
    <div
    class="d-flex flex-column-reverse flex-sm-row justify-space-between align-center pa-3"
    >
    <div class="align-self-start">
      <v-btn plain >
        <v-icon left outlined>mdi-account</v-icon>
        АВтор
      </v-btn>
    </div>
      
      <div class="grey--text ml-4 align-self-end ">
        22.05.2020
      </div>
      
    </div>

    <v-card-title @click="() => $router.push(`/article/${textHeader}`)" class="text-h4">
      {{textHeader}}
    </v-card-title>

    <v-card-text>
      <v-row
        align="center"
        class="mx-0 mb-4"
      >
      </v-row>


      <div v-html="body" class="text-h6 text--primary font-weight-regular"></div>
    </v-card-text>

    <v-divider class="mx-4"></v-divider>


    <v-card-text>
      <v-chip-group  v-for="(chips, idx) in allChips" :key="idx"
        active-class="deep-purple accent-4 white--text"
        column
      >
        <v-chip v-for="(item, idx) in chips" :key="idx">
          <strong>{{ item }}</strong>&nbsp;
        </v-chip>
      </v-chip-group>

    </v-card-text>

    <v-card-actions>
      <v-row>
        <v-col class="d-flex justify-center align-center card-actions" cols="6" md="3">
          <v-btn plain color="blue darken-4">
            <v-icon left>mdi-chat</v-icon>
            Комментарии
          </v-btn>
        </v-col>
        
        <!-- <v-col class="d-flex justify-center align-center card-actions" cols="6" md="1">
          <v-btn plain color="pink darken-3">
            <v-icon left>mdi-heart</v-icon>
            0
          </v-btn>
        </v-col> -->

      </v-row>
      
    </v-card-actions>
  </v-card>

</template>

<script>
export default {
  props: {
    textHeader: String,
    allChips: Object,
    selectedTimePeriod: String,
    body: String
  }
}
</script>

<style>

</style>